@model ChatThreeRole.Models.AccountModel
@{
    ViewData["Title"] = "Login";
}

<head>
    <link rel="stylesheet" type="text/css" href="http://127.0.0.1:11111/wwwroot/css/Login.css">
</head>

<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
        <h2 class="active"> Sign In </h2>
        <h2 class="inactive underlineHover">Sign Up </h2>

        <!-- Icon -->
        <div class="fadeIn first">
            <img src="http://127.0.0.1:11111/wwwroot/images/download.png" id="icon" alt="User Icon" />
        </div>

        <!-- Login Form -->
        <form asp-action="Login"  method="post">
            <input asp-for="Email" type="text" id="email" class="fadeIn second"  placeholder="login">
            <input asp-for="Password"  type="text" id="password" class="fadeIn third"  placeholder="password">
            <input type="submit" class="fadeIn fourth" value="Log In">
        </form>

        <!-- Remind Passowrd -->
        <div id="formFooter">
            <a class="underlineHover" href="#">Forgot Password?</a>
        </div>

    </div>
</div>