*.log
*.dll
*.vsidx
*.d2
*.lock
/obj/Debug/net6.0/ref/ChatThreeRole.dll
/bin/Debug/net6.0/ChatThreeRole.dll
/obj/Debug/net6.0/refint/ChatThreeRole.dll
/.vs/ProjectEvaluation/chatthreerole.metadata.v6.1
/.vs/ProjectEvaluation/chatthreerole.projects.v6.1
/bin/Debug/net6.0/ChatThreeRole.pdb
/bin/Debug/net6.0/ChatThreeRole.staticwebassets.runtime.json
/.vs/ChatThreeRole/v17/.suo
/.vs/ChatThreeRole/v17/.futdcache.v2
/obj/Debug/net6.0/ChatThreeRole.pdb
/obj/Debug/net6.0/staticwebassets.build.json
/obj/Debug/net6.0/staticwebassets.development.json
/obj/Debug/net6.0/staticwebassets.pack.json
/obj/Debug/net6.0/staticwebassets/msbuild.ChatThreeRole.Microsoft.AspNetCore.StaticWebAssets.props
/obj/Debug/net6.0/ChatThreeRole.dll
/.vs/ChatThreeRole/FileContentIndex/19f2d94c-9b0d-4013-8ed7-294ddfd2f16b.vsidx
/.vs/ChatThreeRole/FileContentIndex/3c271e39-dc20-4708-a16c-bb4a696f7159.vsidx
/.vs/ChatThreeRole/FileContentIndex/42750751-1cef-48af-813b-c98d6f012145.vsidx
/.vs/ChatThreeRole/FileContentIndex/6360a75b-759a-42d7-becf-c95000780e4a.vsidx
/.vs/ChatThreeRole/DesignTimeBuild/.dtbcache.v2
