@model ChatThreeRole.Models.AccountModel;

@{
    ViewBag.Title = "Login";
}
<head>
     <link rel="stylesheet" type="text/css" href="http://127.0.0.1:11111/wwwroot/css/Login.css">
    <script src="http://127.0.0.1:11111/wwwroot/js/signalr/dist/browser/signalr.js"></script>
    <script src="http://127.0.0.1:11111/wwwroot/js/signalr/dist/browser/signalr.min.js"></script>
</head>

<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
        <h2 class="active"> Sign In </h2>
        <a href="https://localhost:7069/Home/Register" class="inactive underlineHover">Register</a>

        <!-- Icon -->
        <div class="fadeIn first">
            <img src="http://127.0.0.1:11111/wwwroot/images/download.png" id="icon" alt="User Icon" />
        </div>

        <!-- Login Form -->
        <form asp-action="Login"  method="post">
            <input asp-for="Email" type="text" id="email" class="fadeIn second"  placeholder="login">
            <input asp-for="Password"  type="text" id="password" class="fadeIn third"  placeholder="password">
            <input type="submit" class="fadeIn fourth" value="Log In">
        </form>

        <!-- Remind Passowrd -->
        <div id="formFooter">
            <a class="underlineHover" href="#">Forgot Password?</a>
        </div>
    </div>

    <div class="chatbot">
        <img src="https://static.thenounproject.com/png/1156284-200.png"/>
    </div>
</div>

@section Scripts{
<script>
    if('@ViewBag.Notify') alert('@ViewBag.Notify');
</script>
}